# Virtual Environment
venv/
myenv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite Database
*.db

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build Files
build/
dist/
*.egg-info/

# Mypy
.mypy_cache/

# IDE
.idea/